---
export const prerender = true;

import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Code } from "astro:components";
import { getCollection } from "astro:content";
import { readFileSync } from "node:fs";
import { resolve } from "node:path";

export async function getStaticPaths() {
	const templates = await getCollection("templates");
	return templates.map((entry) => ({
		params: { slug: entry.data.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { name, description, tags } = entry.data;

const ymlPath = resolve(
	process.cwd(),
	"src/content/templates",
	entry.data.slug,
	"compose.yml",
);
const yamlContent = readFileSync(ymlPath, "utf-8");
---

<StarlightPage frontmatter={{ title: name, description, template: "splash" }}>
	<p>{description}</p>
	<ul>
		{tags.map((tag) => <li>{tag}</li>)}
	</ul>
	<Code code={yamlContent} lang="yaml" />
</StarlightPage>
