---
import { SearchIcon } from "@lucide/astro";
---

<section id="header" class="py-12 md:pt-24 gap-8 flex flex-col items-center">
    <h1 class="text-center">Deploy your app in one click</h1>

    <div class="relative w-full">
        <input
            type="text"
            class="w-full px-4 py-2 pr-10 rounded-md border border-border bg-bg text-(--sl-color-text) focus:outline-none focus:ring-2 focus:ring-(--sl-color-accent)"
            placeholder="what would you like to deploy today ?"
            name="template"
        />
        <SearchIcon
            class="absolute top-1/2 -translate-y-1/2 right-4 size-4 flex-none text-(--sl-color-text)"
        />
    </div>
</section>
<style is:global>
    .sl-container {
        margin-inline: auto;
    }
    .hero {
        display: none;
    }
    .sl-markdown-content {
        margin-top: 0;
    }
    .sl-markdown-content
        section
        :not(a, strong, em, del, span, input, code, br)
        + :not(
            a,
            strong,
            em,
            del,
            span,
            input,
            code,
            br,
            :where(.not-content *)
        ) {
        margin-top: 0;
    }
</style>
