x-zane-env:
  main_domain: "{{ generate_domain }}"
  BASE_URL: http://${main_domain}
  SECRET_KEY_BASE: "{{ generate_base64 | 64 }}"
  TOTP_VAULT_KEY: "{{ generate_base64 | 32 }}"
  IMAGE_VERSION: v2.1.5
  POSTGRES_USER: plausible
  POSTGRES_PASSWORD: "{{ generate_password | 16 }}"
  POSTGRES_DB: plausible_db

services:
  plausible_db:
    image: postgres:16-alpine
    restart: always
    volumes:
      - type: volume
        target: /var/lib/postgresql/data
        source: db-data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
  plausible_events_db:
    image: clickhouse/clickhouse-server:24.3.3.102-alpine
    restart: always
    volumes:
      - type: volume
        target: /var/lib/clickhouse
        source: event-data
      - type: volume
        target: /var/log/clickhouse-server
        source: event-logs
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    configs:
      - source: clickhouse-config.xml
        target: /etc/clickhouse-server/config.d/logging.xml
      - source: clickhouse-user-config.xml
        target: /etc/clickhouse-server/users.d/logging.xml
  plausible:
    image: ghcr.io/plausible/community-edition:{IMAGE_VERSION:-latest}
    command: |
      sh -c "sleep 10 && 
             /entrypoint.sh db createdb &&
             /entrypoint.sh db migrate && 
             /entrypoint.sh run"
    depends_on:
      - plausible_db
      - plausible_events_db
    deploy:
      labels:
        zane.http.routes.0.domain: ${main_domain}
        zane.http.routes.0.port: 8000
    environment:
      BASE_URL: http://${main_domain}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      TOTP_VAULT_KEY: ${TOTP_VAULT_KEY}
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@plausible_db:5432/${POSTGRES_DB}
    volumes: []
volumes:
  db-data:
    driver: local
  event-data:
    driver: local
  event-logs:
    driver: local
configs:
  clickhouse-config.xml:
    content: |
      <clickhouse>
        <logger>
          <level>warning</level>
          <console>true</console>
        </logger>

        <!-- Stop all the unnecessary logging -->
        <query_thread_log remove="remove"/>
        <query_log remove="remove"/>
        <text_log remove="remove"/>
        <trace_log remove="remove"/>
        <metric_log remove="remove"/>
        <asynchronous_metric_log remove="remove"/>
        <session_log remove="remove"/>
        <part_log remove="remove"/>
      </clickhouse>

  clickhouse-user-config.xml:
    content: |
      <clickhouse>
        <profiles>
          <default>
            <log_queries>0</log_queries>
            <log_query_threads>0</log_query_threads>
          </default>
        </profiles>
      </clickhouse>
